.main-box {
  padding: 40px 20px;
  margin: 100px 20px;
  border-radius: 20px 20px 120px 20px;
  background-color: #fff;
  max-width: 550px;

  .form {
    & > div {
      display: flex;
      gap: 10px;
      justify-content: space-between;
    }

    .label {
      text-transform: uppercase;
      letter-spacing: 3px;
      color: rgb(113, 111, 111);
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
    }

    &.submitted {
      input {
        &:invalid {
          border-color: #f00;

          &:focus {
            outline-color: #f00;
          }
        }
      }
    }

    .input {
      padding: 15px 10px;
      max-width: 90px;
      font-family: Poppins;
      font-weight: bold;
      font-size: 1.5em;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 10px;

      &:focus {
        box-shadow: 0 0 0 0;
        outline: 0;
        border-color: rgb(133, 77, 255);
        caret-color: rgb(133, 77, 255);
      }
    }

    .validationMessage {
      color: #f00;
      font-style: italic;
      font-size: 0.8em;
    }
  }

  .separator {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 20px 0;
    width: 100%;

    .line-through {
      position: absolute;
      border: 1px solid rgb(219, 219, 219);
      width: 100%;
      top: 50%;
    }

    .submit-button {
      padding: 20px;
      border: none;
      border-radius: 50%;
      background-color: rgb(133, 77, 255);
      cursor: pointer;
      z-index: 1;

      img {
        width: 30px;
      }

      &:hover {
        background-color: rgb(142, 93, 250);
      }

      &:active {
        background-color: rgb(17, 17, 17);
      }
    }
  }

  .result-section {
    p {
      font-size: 3.2em;
      font-weight: 900;
      font-style: italic;

      span {
        color: rgb(133, 77, 255);
      }
    }
  }
}

/* Chrome */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

@media only screen and (min-width: 480px) {
  .main-box {
    margin: 100px auto;
    .form {
      & > div {
        justify-content: flex-start;
        gap: 20px;
      }

      .input {
        max-width: 130px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .main-box {
    .separator {
      justify-content: end;
    }
  }
}
